* {
  box-sizing: border-box;
}

:root {
  --white: #f5f5f5;
  --grey: #f1f4f8b0;
  --dark-grey: #c0c0c0;
  --green: #6b7c93;
  --teal: #6b7c93;
  --blue: #6b7c93;
  --dark-blue: #6b7c93;
  --spacer: 28px;
}

body {
  font-family: -apple-system, system-ui, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--dark-grey);
  z-index: 9999;
}

a {
  text-decoration: none;
  color: var(--dark-grey);
  margin-top: 0px !important;
}

a:hover,
a:focus {
  color: #009991 !important;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  top: 30px;
  margin-bottom: 1rem;
}
