/*--------------------------
    Header Styles  
 --------------------------*/
.logo-dark {
    display: none;
}



.header-transparent-with-topbar {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    z-index: 99;
    

    @media #{$md-layout} {
        position: relative;
    }

    @media #{$sm-layout} {
        position: relative;
    }

    .header-top-bar {
        background-color: transparent;

        @media #{$md-layout} {
            background-color: transparent;
        }

        @media #{$sm-layout} {
            background-color: transparent;
        }
    }

    .header-default {
        background-color: transparent !important;

        @media #{$md-layout} {
            background-color: transparent !important;
        }

        @media #{$sm-layout} {
            background-color: transparent !important;
        }
    }
}



.hamberger-button {
    background: var(--color-blackest);
    border: 0 none;
    color: var(--color-white);
    width: 40px;
    height: 40px;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    svg {
        position: relative;
        z-index: 2;
        stroke-width: 2px;
        stroke: #fff;
    }
}

.header-left-align {
    .mainmenu-nav {
        margin-left: 30px;
    }
}



.rn-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-dark) !important;
    width: 100%;
    height: 60px;
    animation: headerSticky .95s ease forwards;
    z-index: 9;
}

@keyframes headerSticky {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}