.pg-estimated-value {
	background: transparent;
	display: flex;
	direction: column;

	&__container {
	  font-size: 12.5px;
	  padding: 10px 5px;
	  width: 360px;

	  .value-container {
		margin-left: var(--gap);
		vertical-align: middle;

		.value {
		  color: white;
		  font-weight: 400;
		}

		.value-sign {
		  background: none;
		  border-radius: 10%;
		  color: white;
		  margin-left: var(--gap);
		  padding: 3px;
		}
	  }
	}
  }


