#click-to-register:hover {
	color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{

  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}



.content_login_form {
	display: grid !important;
  background: #dde1e7 !important;
  border-radius: 10px;
  padding: 40px 30px !important;
  box-shadow: -3px -3px 7px #ffffff73,
              2px 2px 5px rgba(94, 104, 121, 0.288) !important;

 
}

.content_login_form .text{
  font-size: 15px;
  font-weight: 600 !important;
  margin-bottom: 20px  !important;
  color: #595959! important;
}

.content_login_form .input-group {
  height: 50px !important;
  width: 100% !important;
  display: flex !important;
  position: relative !important;
}

.input-group input{
  
  
  padding-left: 45px !important;
  font-size: 15px !important;
  outline: none !important;
  border: none !important;
  color: #595959 !important;
  background: #dde1e7 !important;
  border-radius: 5px !important;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73 !important;
}

.input-group  input:focus ~ label{
  box-shadow: inset 2px 2px 5px #babecc,
              inset -1px -1px 2px #ffffff73 !important;
}

.input-group :nth-child(2){
  margin-top: 20px !important;
}

.input-group  span{
  position: absolute !important;
  width: 50px !important;
  line-height: 50px !important;
  color: #595959 !important;
}

.input-group  label{
  position: absolute !important;
  top: 50% !important;
  left: 45px !important;
  pointer-events: none !important;
  color: #666666 !important;
  transform: translateY(-50%) !important;
}


.input-group  input:focus ~ label{
  opacity: 0 !important;
}

.forgot-pass{
  text-align: left;
  margin: 10px 0 10px 5px; 
}

.forgot-pass a{
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}

.forgot-pass:hover a{
  text-decoration: underline;
}

.btn {
	background: transparent  !important;
	color: #c0c0c0 !important;
  font-size: inherit !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;

}

.btn:enabled{
	background: transparent  !important;
	color: #1EBDB2 !important;
  font-size: inherit !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;

  }

  .btn:hover{
    background: transparent  !important;
    color: #1EDED0 !important;
    font-size: inherit !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  
    }
  
  

.signup{
  font-size: 16px;
  color: #595959;
  margin: 10px 0;
}

.signup a{
  color: #000;
  text-decoration: none;
}

.signup a:hover{
  text-decoration: underline;
}

.pg-sign-in-screen-basic {
	background: url(../../assets/images/background.svg);
	background-size: cover;
	display: flex;
	height: calc(100vh - calc(var(--gap) * 9.84));
	justify-content: center;
	margin: 0 auto;
  
	.pg-sign-in-screen-basic__container {
	  background: transparent;
	  margin-top: calc(var(--gap) * 3.33);
	  width: calc(var(--gap) * 70.66);
	}
  

  }
  
  @media screen and (max-width: 768px) {
	.pg-sign-in-screen {
	  .pg-sign-in-screen__container {
		margin: calc(var(--gap) * 3.33) calc(var(--gap) * 1.66) 0;
		width: 100%;
	  }
	}
  }
  